.ap-post
	a.ap-post-link(href="")
		figure.ap-post-img
			img(src="Content/img/post/post-demo-02.jpg", alt="Post: Abogados")

		h3.ap-ttt--link
			| Lo que nadie sabe sobre la prisión preventiva.

		p.ap-txt
			| La expansión del Derecho penal irrumpe en los principios de un Estado Democrático...

		nav.ap-post-info
			p.ap-txt.ap-txt--date 2019/11/03

			p.ap-txt.ap-txt--link Ver nota