.ap-post
	a.ap-post-link(href="")
		figure.ap-post-img
			img(src="Content/img/post/back-jurista.jpg", alt="Post: Abogados")

		h3.ap-ttt--link
			| Revista Jurista

		p.ap-txt
		| Revista especializada en temas de derecho.