div.swiper-container.ap-gallery-slide
	//- Home slider
	div.swiper-wrapper#ap-gallery-slider
		.swiper-slide
			figure.ap-gal-img
				img(src="/Content/img/home-slider/img-slider-01.jpg", alt="Slide 01")

		.swiper-slide
			figure.ap-gal-img
				img(src="/Content/img/home-slider/img-slider-02.jpg", alt="Slide 02")
		.swiper-slide
			figure.ap-gal-img
				img(src="/Content/img/home-slider/img-slider-03.jpg", alt="Slide 03")

	.swiper-pagination

	nav.ap-gal-nav
		a.ap-gal-link.ap-gal-mod(href="#") VER VIDEO

div.ap-gal-overlay
	div.ap-gal-flx
		.ap-video
			video.ap-video-src(src="/Content/media/video.mp4")