header.ap-prtc-head
	figure.ap-prtc-img
		img(src="/Content/img/areas-practica.jpg", alt="")

	.ap-prtc-content
		h2.ap-ttt Áreas de Práctica

		ul.ap-prtc-list
			li.ap-prtc-item
				a(href="./areas-practica--civil.html").ap-btn Derecho civil
			li.ap-prtc-item
				a(href="#").ap-btn Texto botón
			li.ap-prtc-item
				a(href="#").ap-btn Texto botón
			li.ap-prtc-item
				a(href="#").ap-btn Texto botón
			li.ap-prtc-item
				a(href="#").ap-btn Texto botón
			li.ap-prtc-item
				a(href="#").ap-btn Texto botón
			li.ap-prtc-item
				a(href="#").ap-btn Texto botón
			li.ap-prtc-item
				a(href="#").ap-btn Texto botón
			li.ap-prtc-item
				a(href="#").ap-btn Texto botón