header.ap-prtc-head
	figure.ap-prtc-img

	.ap-prtc-content
		h2.ap-ttt Áreas de Práctica

		ul.ap-prtc-list
			li.ap-prtc-item
				a(href="./derecho-civil.html").ap-btn Derecho Civil
			li.ap-prtc-item
				a(href="./divorcios-y-familia.html").ap-btn Divorcios y Familia
			li.ap-prtc-item
				a(href="./proteccion-al-consumidor.html").ap-btn Protección al Consumidor
			li.ap-prtc-item
				a(href="./derecho-comercial-y-societario.html").ap-btn Derecho Comercial y Societario
			li.ap-prtc-item
				a(href="./sucesiones.html").ap-btn Sucesiones
			li.ap-prtc-item
				a(href="./propiedad-intelectual.html").ap-btn Propiedad Intelectual
			li.ap-prtc-item
				a(href="./amparo.html").ap-btn Amparo
			li.ap-prtc-item
				a(href="./migratorio.html").ap-btn Migratorio
			li.ap-prtc-item
				a(href="./condominios.html").ap-btn Condominios