footer.ap-footer
	.ap-panel
		h2.ap-tt.ap-brand
			a.ap-brand-link(href="/")
				svg.icon
					use(xlink:href="#logo")

				p.ap-brand-hidden Chávez Velazco | Abogados

		include ../partials/part.social.pug