.ap-post
	a.ap-post-link(href="")
		figure.ap-post-img
			img(src="Content/img/post/post-demo-03.jpg", alt="Post: Abogados")

		h3.ap-ttt--link
			| El Paso Texas: la retórica del odio.

		p.ap-txt
			| Desde el inicio de la campaña presidencial de Donald Trump a la presidencia de Estados Unidos...

		nav.ap-post-info
			p.ap-txt.ap-txt--date 2019/11/03

			p.ap-txt.ap-txt--link Ver nota