div.swiper-container.ap-modal-gallery-slide
	//- Home slider
	div.swiper-wrapper#ap-modal-gallery
		.swiper-slide
			figure.ap-slide-home-img
				img(src="/Content/img/home-slider/img-slider-01.jpg", alt="Slide 01")
		.swiper-slide
			figure.ap-slide-home-img
				img(src="/Content/img/home-slider/img-slider-02.jpg", alt="Slide 02")
		.swiper-slide
			figure.ap-slide-home-img
				img(src="/Content/img/home-slider/img-slider-03.jpg", alt="Slide 03")