.ap-post
	a.ap-post-link(href="")
		figure.ap-post-img
			img(src="Content/img/post/back-mundo-abogado.jpg", alt="Post: Abogados")

		h3.ap-ttt--link
			| El Mundo del Abogado

		p.ap-txt
		| Noticias especializadas en el mundo legal mexicano.