.ap-post
	a.ap-post-link(href="")
		figure.ap-post-img
			img(src="Content/img/post/post-demo.jpg", alt="Post: Abogados")

		h3.ap-ttt--link
			| Neurocriminología y Neuroderecho.

		p.ap-txt
			| Los avances científicos que se vienen produciendo en las últimas décadas comienzan a impactar...

		nav.ap-post-info
			p.ap-txt.ap-txt--date 2019/11/03

			p.ap-txt.ap-txt--link Ver nota