header.ap-prtc-head
	figure.ap-prtc-img

	.ap-prtc-content
		h2.ap-ttt Áreas de Práctica

		ul.ap-prtc-list
			li.ap-prtc-item
				a(href="./areas-practica--civil.html").ap-btn Derecho civil
			li.ap-prtc-item
				a(href="./areas-practica--divorcios-familia.html").ap-btn Divorcios y Familia
			li.ap-prtc-item
				a(href="./areas-practica--consumidor.html").ap-btn Protección al consumidor
			li.ap-prtc-item
				a(href="./areas-practica--comercial.html").ap-btn Derecho Comercial y Societario
			li.ap-prtc-item
				a(href="./areas-practica--sucesiones.html").ap-btn Sucesiones
			li.ap-prtc-item
				a(href="./areas-practica--intelectual.html").ap-btn Propiedad Intelectual
			li.ap-prtc-item
				a(href="./areas-practica--amparo.html").ap-btn Amparo
			li.ap-prtc-item
				a(href="./areas-practica--migratorio.html").ap-btn Migratorio
			li.ap-prtc-item
				a(href="./areas-practica--condominios.html").ap-btn Condominios