div.swiper-container.ap-gallery-slide
	//- Home slider
	div.swiper-wrapper#ap-gallery-slider
		.swiper-slide
			figure.ap-gal-img.ap-gal-img--01

		.swiper-slide
			figure.ap-gal-img.ap-gal-img--02

		.swiper-slide
			figure.ap-gal-img.ap-gal-img--03

		.swiper-slide
			figure.ap-gal-img.ap-gal-img--04

		.swiper-slide
			figure.ap-gal-img.ap-gal-img--05

	.swiper-pagination

	nav.ap-gal-nav
		a.ap-gal-link.ap-gal-mod(href="#ap-gal-overlay")
			| VER VIDEO

			svg.icon
				use(xlink:href="#play")

div.ap-gal-overlay#ap-gal-overlay
	a.ap-gal-close(href="#")
		svg.icon
			use(xlink:href="#close")

	div.ap-gal-flx
		.ap-video
			video.ap-video-src(src="", controls="")