.ap-footer {
	position: relative;
	padding: 1em;

	@include above(1200px) {
		padding: 30px 1em;
	}

	.ap-panel {
		display: flex;
		flex-direction: row;
		align-items: center;
		align-items: center;
		justify-content: space-between;
	}

	.ap-brand {
		max-width: 4em;
		margin: 0;
		height: 1em;

		@include above(760px) {
			font-size: 4.4em;
		}
	}

	.ap-social {
		@include above(1200px) {
			font-size: 15px;
		}

		.ap-btn-social {
			&:first-child {

				@include above(1200px) {
					margin-right: 26px
				}
			}
		}
	}
}