doctype html
html(lang="es-MX")
	include ../partials/part.head.pug

	body.ap.ap--is-loading.ap-home-wrapp--init
		include ../partials/part.header.pug

		main.ap-main
			block content

			include ../partials/part.glob-contact.pug
			include ../partials/part.footer.pug

		article#ap-modal--loading.ap-overlay.ap-modal--loading.ap-modal--is-visible
			div.ap-load-area
				figure.ap-load-img
					svg.icon
						use(xlink:href="#justice")

				p.ap-txt Cargando
					span .
					span .
					span .

		include ../partials/part.svg.pug

		block scripts
			script(src="Content/scripts/jquery-3.3.1.min.js")
			script(src="Content/scripts/vendors.min.js")
			script(src="Content/scripts/actions.js")