$tt: 800;// Principal title (slider)
$tt-aTitle: 700;// Area titles
$tt-regular: 400;// Area titles Inside
$tt-thin: 300;// Thin wheight
$ffamily: 'Open Sans', sans-serif;// Global font

.ap {
	// Titles
	&-tt {
		font-weight: $tt;
		color: $white;
	}
	&-ttt {
		font-weight: $tt-regular;
		text-align: center;
		font-size: 2.4em;
		padding: .4em;
		color: #0f0f0f;

		@include above(1000px) {
			font-size: 3.6em;
			padding: 0.8em 0;
		}

		@include above(1000px) {
			font-size: 52px;
			padding: 8px
		}

		&--inside {
			font-weight: $tt
		}
		&--link {
			font-weight: $tt-aTitle;
			color: $base;
		}
	}
	&-txt {
		font-weight: $tt-regular;

		&--bold {
			font-weight: $tt-aTitle;
		}

		&-link {
			color: $base;
			text-decoration: underline;
			font-weight: $tt-aTitle;
		}
	}
}