extend ../layout/_layout

block content
	article.ap-lawyers#ap-lawyers

		//- Carlos
		div.ap-lawyer
			figure.ap-lawyer-img
				img.ap-lawyer-img-src(src="/Content/img/img-carlos.jpg", alt="Carlos Chávez Velasco")

			div.ap-lawyer-overlay
				div.ap-lawyer-button#lawyer-one
					h2.ap-tt
						| Carlos

						span.ap-tt--small Chávez Velasco

					a.ap-btn-outline(data-url="ap-lawyer-one") VER PERFIL

				div.ap-lawyer-data
					figure.ap-lawyer-photo
						img(src="/Content/img/img-carlos.jpg", alt="Carlos Chávez Velasco")

					h2.ap-tt
						| Carlos

						span.ap-tt--small Chávez Velasco

					.ap-lawyer-data-info
						div.ap-lawyer-data-icon
							svg.icon
								use(xlink:href="#envelope")

						div.ap-lawyer-data-data
							a.ap-txt-link(href="mailto:carlos_cvabogados@gmail.com") carlos_cvabogados@gmail.com

					.ap-lawyer-data-info
						div.ap-lawyer-data-icon
							svg.icon
								use(xlink:href="#phone")

						div.ap-lawyer-data-data
							p.ap-txt--bold +52 (984) 150 20 55

			div.ap-lawyer-info#ap-lawyer-one
				nav.ap-lawyer-nav
					a.ap-btn-link(href="#layer-one")
						svg.icon
							use(xlink:href="#left")

						| Regresar

				div.ap-scroll
					div.ap-lawyer-description
						div.ap-lawyer-desc
							p.ap-txt--bold Visión y proposito
							p.ap-txt  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione exercitationem adipisci labore necessitatibus debitis suscipit voluptatem et consequatur temporibus, mollitia quisquam ab in explicabo consequuntur impedit eos eaque molestiae pariatur.

						div.ap-lawyer-desc
							p.ap-txt--bold Experiencia
							p.ap-txt  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione exercitationem adipisci labore necessitatibus debitis suscipit voluptatem et consequatur temporibus, mollitia quisquam ab in explicabo consequuntur impedit eos eaque molestiae pariatur.

						div.ap-lawyer-desc
							p.ap-txt--bold Trayectoria
							p.ap-txt  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione exercitationem adipisci labore necessitatibus debitis suscipit voluptatem et consequatur temporibus, mollitia quisquam ab in explicabo consequuntur impedit eos eaque molestiae pariatur.

		//- Mauricio
		div.ap-lawyer
			figure.ap-lawyer-img
				img.ap-lawyer-img-src(src="/Content/img/img-mauricio.jpg", alt="Mauricio Chávez Velasco")

			div.ap-lawyer-overlay
				div.ap-lawyer-button#lawyer-one
					h2.ap-tt
						| Mauricio

						span.ap-tt--small Chávez Velasco

					a.ap-btn-outline(data-url="ap-lawyer-one") VER PERFIL

				div.ap-lawyer-data
					figure.ap-lawyer-photo
						img(src="/Content/img/img-mauricio.jpg", alt="Mauricio Chávez Velasco")

					h2.ap-tt
						| Mauricio

						span.ap-tt--small Chávez Velasco

					.ap-lawyer-data-info
						div.ap-lawyer-data-icon
							svg.icon
								use(xlink:href="#envelope")

						div.ap-lawyer-data-data
							a.ap-txt-link(href="mailto:mauricio_cvabogados@gmail.com") mauricio_cvabogados@gmail.com

					.ap-lawyer-data-info
						div.ap-lawyer-data-icon
							svg.icon
								use(xlink:href="#phone")

						div.ap-lawyer-data-data
							p.ap-txt--bold +52 (984) 150 20 50

			div.ap-lawyer-info#ap-lawyer-one
				nav.ap-lawyer-nav
					a.ap-btn-link(href="#layer-one")
						svg.icon
							use(xlink:href="#left")

						| Regresar

				div.ap-scroll
					div.ap-lawyer-description
						div.ap-lawyer-desc
							p.ap-txt--bold Visión y proposito
							p.ap-txt  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione exercitationem adipisci labore necessitatibus debitis suscipit voluptatem et consequatur temporibus, mollitia quisquam ab in explicabo consequuntur impedit eos eaque molestiae pariatur.

						div.ap-lawyer-desc
							p.ap-txt--bold Experiencia
							p.ap-txt  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione exercitationem adipisci labore necessitatibus debitis suscipit voluptatem et consequatur temporibus, mollitia quisquam ab in explicabo consequuntur impedit eos eaque molestiae pariatur.

						div.ap-lawyer-desc
							p.ap-txt--bold Trayectoria
							p.ap-txt  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione exercitationem adipisci labore necessitatibus debitis suscipit voluptatem et consequatur temporibus, mollitia quisquam ab in explicabo consequuntur impedit eos eaque molestiae pariatur.