extend ../layout/_layout

block content
	article.ap-lawyers#ap-lawyers
		.ap-lawyers-panel
			//- Carlos
			div.ap-lawyer.ap-lawyer--carlos
				.ap-lawyer-square
					figure.ap-lawyer-img
						.ap-lawyer-bg
						//- img.ap-lawyer-img-src(src="Content/img/img-carlos.jpg", alt="Carlos Ch치vez Velasco")

					div.ap-lawyer-overlay
						div.ap-lawyer-button#lawyer-one
							h2.ap-tt
								| Carlos
								span.ap-tt--small Ch치vez Velasco

							a.ap-btn-outline(href="abogados-carlos.html")
								| VER PERFIL

			//- Mauricio
			.ap-lawyer.ap-lawyer--mauricio
				.ap-lawyer-square
					figure.ap-lawyer-img
						.ap-lawyer-bg
						//- img.ap-lawyer-img-src(src="Content/img/img-mauricio.jpg", alt="Mauricio Ch치vez Velasco")

					div.ap-lawyer-overlay
						div.ap-lawyer-button#lawyer-one
							h2.ap-tt
								| Mauricio
								span.ap-tt--small Ch치vez Velasco

							a.ap-btn-outline(href="abogados-mauricio.html")
								| VER PERFIL