extend ../layout/_layout

block content
	article.ap-lawyer-page.ap-lawyer-page--mauricio
		//- Mauricio
		div.ap-lawyer
			.ap-lawyer-square
				figure.ap-lawyer-img
					.ap-lawyer-bg
					img.ap-lawyer-img-src(src="/Content/img/img-mauricio.jpg", alt="Mauricio Chávez Velasco")

				div.ap-lawyer-overlay
					div.ap-lawyer-data
						figure.ap-lawyer-photo
							img(src="/Content/img/img-mauricio-thumb.jpg", alt="Mauricio Chávez Velasco")

						h2.ap-tt
							| Mauricio
							span.ap-tt--small Chávez Velasco

						.ap-lawyer-data-info
							div.ap-lawyer-data-icon
								svg.icon
									use(xlink:href="#envelope")

							div.ap-lawyer-data-data
								a.ap-txt-link(href="mailto:mauricio_cvabogados@gmail.com") mauricio_cvabogados@gmail.com

						.ap-lawyer-data-info
							div.ap-lawyer-data-icon
								svg.icon
									use(xlink:href="#phone")

							div.ap-lawyer-data-data
								p.ap-txt--bold +52 (984) 150 20 55


			.ap-lawyer-info#ap-lawyer-one
				.ap-lawyer-info-area
					nav.ap-lawyer-nav
						a.ap-btn-link.ap-btn-link-rtrn(href="../html/abogados.html")
							svg.icon
								use(xlink:href="#left")

							| Regresar

					div.ap-scroll
						div.ap-lawyer-description
							div.ap-lawyer-desc
								p.ap-txt--bold Perfil profesional Carlos
								p.ap-txt De compromiso y servicio se forma el perfil y la naturaleza del abogado. Eso, y no otra cosa, es la profesión jurídica. El compromiso y servicio con las causas encomendadas y con las de la justicia, como sistema de vida. Quien no se compromete con la justicia no podrá bien servir a sus causas de encomienda. Quien no se compromete con sus causas, tampoco servirá con plenitud a la justicia.

							div.ap-lawyer-desc
								p.ap-txt--bold Experiencia
								p.ap-txt Carlos ejerce su práctica profesional en las áreas del Derecho Civil, Comercial y Societario, Amparo, Divorcios y Familia, Sucesiones, Migratorio y Protección al Consumidor.

							div.ap-lawyer-desc
								p.ap-txt--bold Trayectoria
								p.ap-txt Abogado litigante 2009 – 2010 | 2013 – 2019 Jefe de Deparmento, Puesto de Confianza, Nivel Máximo, adscrito a la Dirección General del Instituto Federal de Defensoría Pública. (Unidad de Asesoría Jurídica y Evaluación del Servicio) 2012 – 2013 Oficial Administrativo adscrito a la Dirección General del Instituto Federal de Defensoría Pública. 2011 – 2012 Oficial Administrativo adscrito al Primer Tribunal Colegiado en Materia Civil del Segundo Circuito. 2010 – 2011.

							div.ap-lawyer-desc
								p.ap-txt--bold Formación académica
								p.ap-txt Licenciado en Derecho por la Universidad Michoacana de San Nicolás de Hidalgo. Fecha de titulación: Diez de febrero de dos mil nueve. Título de la tesis: Facultad judicial para denunciar la posible inconstitucionalidad de una ley que se pretenda aplicar. Mención honorífica. Maestro en Derecho Procesal Penal por el Centro de Estudio de Posgrado.