extend ../layout/_layout

block content
	article.ap-lawyer-page.ap-lawyer-page--mauricio
		//- Mauricio
		div.ap-lawyer
			.ap-lawyer-square
				figure.ap-lawyer-img
					.ap-lawyer-bg
					img.ap-lawyer-img-src(src="Content/img/img-mauricio.jpg", alt="Mauricio Chávez Velasco")

				div.ap-lawyer-overlay
					div.ap-lawyer-data
						figure.ap-lawyer-photo
							img(src="Content/img/img-mauricio-thumb.png", alt="Mauricio Chávez Velasco")

						h2.ap-tt
							| Mauricio
							span.ap-tt--small Chávez Velasco

						.ap-lawyer-data-info
							div.ap-lawyer-data-icon
								svg.icon
									use(xlink:href="#envelope")

							div.ap-lawyer-data-data
								a.ap-txt-link(href="mailto:chavezvelascoabogados@gmail.com") chavezvelascoabogados@gmail.com

						.ap-lawyer-data-info
							div.ap-lawyer-data-icon
								svg.icon
									use(xlink:href="#phone")

							div.ap-lawyer-data-data
								p.ap-txt--bold +52 (984) 150 20 55


			.ap-lawyer-info#ap-lawyer-one
				.ap-lawyer-info-area
					nav.ap-lawyer-nav
						a.ap-btn-link.ap-btn-link-rtrn(href="abogados.html")
							svg.icon
								use(xlink:href="#left")

							| Regresar

					div.ap-scroll
						div.ap-lawyer-description
							div.ap-lawyer-desc
								p.ap-txt--bold Visión y propósito
								p.ap-txt “Fuera del proceso está el destino de los abogados. Evitar la contienda es el mayor de los éxitos. La conciliación, la transacción y el compromiso arbitral son caminos que los abogados debemos necesariamente recorrer. No olvidemos los temores de aquél Juez experimentado: la muerte, la enfermedad y el pleito. En el ámbito de la composición amigable, sólo funciona el interés del cliente y el acierto del abogado. Sujetar al propio cliente en sus demasías y remover al adversario en sus intransigencias, representar su actuar. Morigerar pasiones, moralizar las relaciones humanas, nivelar desigualdades, aliviar al hombre de sus fatigas. He ahí su destino trascendente”. Carlos A. Alconada Aramburu

								p.ap-txt--bold Biografía
								p.ap-txt Originario de Morelia, Michoacán.

							div.ap-lawyer-desc
								p.ap-txt--bold Experiencia
								p.ap-txt Mauricio ejerce su práctica profesional en las áreas del Derecho Civil, Comercial y Societario, Amparo, Divorcios y Familia, Sucesiones, Migratorio y Protección al Consumidor.


							div.ap-lawyer-desc
								p.ap-txt--bold Trayectoria
								p.ap-txt Abogado litigante 2011 – 2013 | 2013-2019
								p.ap-txt Oficial Administrativo adscrito al Primer Tribunal Colegiado en Materia Civil del Segundo Circuito con residencia en Toluca, Estado de México. 2010

								p.ap-txt Oficial Administrativo adscrito al Juzgado Segundo de Distrito en Materia de Procesos Penales Federales del Segundo Circuito con residencia en Toluca, Estado de México. 2013

							div.ap-lawyer-desc
								p.ap-txt--bold Formación académica
								p.ap-txt Licenciado en Derecho por la Universidad Michoacana de San Nicolás de Hidalgo.
								p.ap-txt Fecha de titulación: veinte de abril de dos mil trece.
								p.ap-txt Título de la tesis: El control de convencionalidad en sede interna e interamericana; una condición fáctica de supraconstitucionalidad en detrimento del Estado constitucional de derecho.
								p.ap-txt Premio “Padre de la Patria 2010” a la excelencia académica, otorgado por la Universidad Michoacana de San Nicolás de Hidalgo.
								p.ap-txt Premio “Padre de la Patria 2011” a la excelencia académica, otorgado por la Universidad Michoacana de San Nicolás de Hidalgo.