extend ../layout/_layout

block content
	article.ap-practica.ap-prtc.ap-practica-index
		.ap-prtc-desc
			nav.ap-prtc-nav
				a.ap-btn-link(href="areas-practica.html")
					svg.icon
						use(xlink:href="#left")

					| Regresar

			article.ap-prtc-detail
				h3.ap-tttt Amparo

				p.ap-txt Es una de nuestras principales competencias.
				p.ap-txt Somos promotores del respeto, la protección y garantía de los derechos humanos reconocidos en la Constitución Política de los Estados Unidos Mexicanos y en los Tratados Internacionales de los que el Estado Mexicano es parte.
				p.ap-txt A través del juicio de amparo defendemos los derechos humanos de toda persona, en especial:

				ul.ap-prtc-detail-list
					li.ap-prtc-detail-item Derechos civiles y políticos.
					li.ap-prtc-detail-item Derecho a la familia.
					li.ap-prtc-detail-item Derecho a la identidad.
					li.ap-prtc-detail-item Derecho a la igualdad.
					li.ap-prtc-detail-item Derecho a la imagen.
					li.ap-prtc-detail-item Derecho a la información.
					li.ap-prtc-detail-item Derecho a la integridad personal.
					li.ap-prtc-detail-item Derecho a la libertad.
					li.ap-prtc-detail-item Derecho a la nacionalidad.
					li.ap-prtc-detail-item Derecho a la no suspensión de garantías.
					li.ap-prtc-detail-item Derecho a la propiedad.
					li.ap-prtc-detail-item Derecho a la protección de la honra.
					li.ap-prtc-detail-item Derecho a la protección del domicilio.
					li.ap-prtc-detail-item Derecho a la seguridad jurídica.
					li.ap-prtc-detail-item Derecho a la vida.
					li.ap-prtc-detail-item Derecho a la vida privada.
					li.ap-prtc-detail-item Derecho al reconocimiento de la personalidad jurídica.
					li.ap-prtc-detail-item Derecho de petición.
					li.ap-prtc-detail-item Derecho de resistencia.
					li.ap-prtc-detail-item Derechos reproductivos.
					li.ap-prtc-detail-item Derechos de las niñas, niños y adolescentes.
					li.ap-prtc-detail-item Derechos de las mujeres.
					li.ap-prtc-detail-item Derechos de las personas adultas mayores.
					li.ap-prtc-detail-item Derechos de los migrantes.
					li.ap-prtc-detail-item Derechos de los indígenas.

		figure.ap-prtc-justice
			svg.icon
				use(xlink:href="#justice")