extend ../layout/_layout

block content
	article.ap-practica.ap-prtc#ap-practica
		.ap-prtc-desc
			nav.ap-prtc-nav
				a.ap-btn-link(href="./areas-practica.html")
					svg.icon
						use(xlink:href="#left")

					| Regresar

			article.ap-prtc-detail
				h3.ap-tttt Derecho Comercial y Societario

				p.ap-txt Elaboramos todo tipo de contratos mercantiles y ofrecemos asesoramiento legal sobre prácticas recomendables en todas las áreas del #[span.ap-txt--bold Derecho Comercial y Societario], especialmente en:

				ul.ap-prtc-detail-list
					li.ap-prtc-detail-item Derecho cambiario y acción ejecutiva.
					li.ap-prtc-detail-item Juicios ordinarios mercantiles.
					li.ap-prtc-detail-item Recuperación de cartera vencida ante autoridad judicial.
					li.ap-prtc-detail-item Constitución y administración de sociedades.
					li.ap-prtc-detail-item Ampliación y reducción de capital.
					li.ap-prtc-detail-item Modificaciones estatutarias.
					li.ap-prtc-detail-item Disolución y liquidación de todo tipo de sociedades de capital.
					li.ap-prtc-detail-item Ejercicio del derecho de los socios y las sociedades ante los tribunales de la jurisdicción mercantil.

		figure.ap-prtc-justice
			svg.icon
				use(xlink:href="#justice")