extend ../layout/_layout

block content
	article.ap-practica.ap-prtc#ap-practica
		.ap-prtc-desc
			nav.ap-prtc-nav
				a.ap-btn-link(href="./areas-practica.html")
					svg.icon
						use(xlink:href="#left")

					| Regresar

			article.ap-prtc-detail
				h3.ap-tttt Sucesiones

				p.ap-txt Es una de nuestras principales competencias.
				p.ap-txt Tenemos acreditada experiencia en todas las áreas del Derecho Familiar, especialmente en:

				ul.ap-prtc-detail-list
					li.ap-prtc-detail-item Redacción de testamentos y legados.
					li.ap-prtc-detail-item Elaboración de testimonios de protocolización.
					li.ap-prtc-detail-item Denuncia del intestado.
					li.ap-prtc-detail-item Convocatoria de herederos.
					li.ap-prtc-detail-item Nombramiento y remoción de albacea e interventores.
					li.ap-prtc-detail-item Reconocimiento de derechos hereditarios.
					li.ap-prtc-detail-item Incidentes sobre nombramiento o remoción de tutores.
					li.ap-prtc-detail-item Validez del testamento, capacidad para heredar y preferencia de derechos.
					li.ap-prtc-detail-item Formación de inventarios.
					li.ap-prtc-detail-item Administración de cuentas.
					li.ap-prtc-detail-item Rendición de cuentas, glosa y calificación.
					li.ap-prtc-detail-item Proyecto de partición de bienes.
					li.ap-prtc-detail-item Acciones de petición de herencia.

		figure.ap-prtc-justice
			svg.icon
				use(xlink:href="#justice")