extend ../layout/_layout

block content
	article.ap-practica.ap-prtc.ap-practica-index
		.ap-prtc-desc
			nav.ap-prtc-nav
				a.ap-btn-link(href="areas-practica.html")
					svg.icon
						use(xlink:href="#left")

					| Regresar

			article.ap-prtc-detail
				h3.ap-tttt Condominios

				p.ap-txt Brindamos de manera especial asesoría jurídica a las asociaciones civiles que se dedican a la administración de condominios y ofrecemos, entre otros, los siguientes servicios:

				p.ap-txt Su trabajo incluye el asesoramiento en todos los ámbitos de la propiedad intelectual, en especial:

				ul.ap-prtc-detail-list
					li.ap-prtc-detail-item Constitución de condominios.
					li.ap-prtc-detail-item Revisión y redacción de convocatorias.
					li.ap-prtc-detail-item Desarrollo de asambleas generales.
					li.ap-prtc-detail-item Elaboración de actas de asamblea y minutas.
					li.ap-prtc-detail-item Protocolización de actas de asamblea.
					li.ap-prtc-detail-item Cobranza judicial y extrajudicial.
					li.ap-prtc-detail-item Recaudación de cuotas de mantenimiento de condóminos morosos.

		figure.ap-prtc-justice
			svg.icon
				use(xlink:href="#justice")