extend ../layout/_layout

block content
	article.ap-practica.ap-prtc.ap-practica-index
		.ap-prtc-desc
			nav.ap-prtc-nav
				a.ap-btn-link(href="areas-practica.html")
					svg.icon
						use(xlink:href="#left")

					| Regresar

			article.ap-prtc-detail
				h3.ap-tttt Divorcios y Familia

				p.ap-txt Es una de nuestras principales competencias.
				p.ap-txt Tenemos acreditada experiencia en todas las áreas del Derecho Familiar, especialmente en:

				ul.ap-prtc-detail-list
					li.ap-prtc-detail-item Procedimientos de divorcio.
					li.ap-prtc-detail-item Constitución del régimen de gananciales.
					li.ap-prtc-detail-item Cambio de régimen patrimonial del matrimonio.
					li.ap-prtc-detail-item Liquidación de sociedades matrimoniales.
					li.ap-prtc-detail-item Guardia y custodia.
					li.ap-prtc-detail-item Patria potestad.
					li.ap-prtc-detail-item Restitución internacional de menores.
					li.ap-prtc-detail-item Pensión alimenticia.
					li.ap-prtc-detail-item Régimen de visitas y convivencia.
					li.ap-prtc-detail-item Parentesco y adopción.

		figure.ap-prtc-justice
			svg.icon
				use(xlink:href="#justice")