extend ../layout/_layout

block content
	article.ap-slider-home
		include ../partials/part.home-slider.pug
		article.ap-slider-info
			.ap-slider-flx
				h1.ap-tt Cuanto más duro es el conflicto, más glorioso es el triunfo.
					small.ap-tt--small Thomas Paine

				nav.ap-slider-nav
					a.ap-logo-link
						svg.icon
							use(xlink:href="#logo")

					.ap-slider-nav-split
						a.ap-intro-close.ap-txt-link(href="#") Entrar
						a.ap-intro-close.ap-txt-link(href="#") Enter

	section.ap-home-wrapp
		include ../partials/part.areas-navigation.pug