extend ../layout/layout.pug

block content
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus non quia voluptatem voluptatibus incidunt nulla id animi vel distinctio laborum perspiciatis dolor sit, voluptates architecto, quas laudantium beatae. Reiciendis, ratione.

	p.alert Hola