extend ../layout/_layout

block content
	article.ap-practica.ap-prtc.ap-practica-index
		.ap-prtc-desc
			nav.ap-prtc-nav
				a.ap-btn-link(href="areas-practica.html")
					svg.icon
						use(xlink:href="#left")

					| Regresar

			article.ap-prtc-detail
				h3.ap-tttt Migratorio

				p.ap-txt Trabajamos en coordinación con despachos que proporcionan asesoría técnica y jurídica a personas que desean realizar trámites migratorios, especialmente por:

				ul.ap-prtc-detail-list
					li.ap-prtc-detail-item Visas de trabajo.
					li.ap-prtc-detail-item Unidad familiar.
					li.ap-prtc-detail-item Residencia ciudadana.
					li.ap-prtc-detail-item Procedimientos de deportación.
					li.ap-prtc-detail-item Asesoría corporativa, fiscal y legal en inversión extranjera.
					li.ap-prtc-detail-item Actas del registro civil.
					li.ap-prtc-detail-item Antecedentes no penales.
					li.ap-prtc-detail-item Certificados médicos.
					li.ap-prtc-detail-item Documentos notariales.
					li.ap-prtc-detail-item Traducciones.
					li.ap-prtc-detail-item Apostillas.
					li.ap-prtc-detail-item Legalizaciones.

		figure.ap-prtc-justice
			svg.icon
				use(xlink:href="#justice")