extend ../layout/_layout

block content
	article.ap-us#ap-us

		figure.ap-us-img

		.ap-us-info
			.ap-info-panel
				h2.ap-ttt Nosotros

				div.ap-us-info-box
					p.ap-txt Somos abogados de reconocido prestigio con probada experiencia en distintas áreas del derecho.

					p.ap-txt Ofrecemos un servicio excepcional, mediante el conocimiento pormenorizado de los casos, las necesidades y objetivos de nuestros clientes.