extend ../layout/_layout

block content
	article.ap-us#ap-us

		figure.ap-us-img
			img(src="/Content/img/slide-01.jpg", alt="Nosotros")

		.ap-us-info
			.ap-info-panel
				h2.ap-ttt Nosotros

				div.ap-us-info-box
					p.ap-txt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis at deserunt vitae voluptates provident itaque aliquam perspiciatis qui earum non tempore distinctio deleniti ratione quo in fugit, ab, veritatis libero!

					p.ap-txt Aut aspernatur non totam harum sit maxime consequuntur, eum fuga deserunt iste facilis molestiae assumenda, sequi debitis. Aperiam iure, facilis deleniti quibusdam optio quo, molestiae, adipisci voluptate libero ad quisquam.