extend ../layout/_layout

block content
	article.ap-practica.ap-prtc.ap-practica-index
		.ap-prtc-desc
			nav.ap-prtc-nav
				a.ap-btn-link(href="areas-practica.html")
					svg.icon
						use(xlink:href="#left")

					| Regresar

			article.ap-prtc-detail
				h3.ap-tttt Propiedad Intelectual

				p.ap-txt Trabajamos en coordinación con despachos que proporcionan asesoría técnica y jurídica a personas que desean proteger su marca comercial.

				p.ap-txt Su trabajo incluye el asesoramiento en todos los ámbitos de la propiedad intelectual, en especial:

				ul.ap-prtc-detail-list
					li.ap-prtc-detail-item Marcas, registro y renovaciones.

					li.ap-prtc-detail-item Marcas, monitoreo y oposiciones.
					li.ap-prtc-detail-item Invenciones.
					li.ap-prtc-detail-item Derechos de autor y derechos relacionados.
					li.ap-prtc-detail-item Nombres de dominio en Internet.
					li.ap-prtc-detail-item Litigio de derechos de propiedad intelectual.
					li.ap-prtc-detail-item Acciones penales antipiratería.
					li.ap-prtc-detail-item Asuntos relacionados en materia aduanera.
					li.ap-prtc-detail-item Contratos relacionados con propiedad intelectual.
					li.ap-prtc-detail-item Derecho del entretenimiento.

		figure.ap-prtc-justice
			svg.icon
				use(xlink:href="#justice")