extend ../layout/_layout

block content
	article.ap-settings
		svg.icon
			use(xlink:href="#phone")

		svg.icon
			use(xlink:href="#play")

		svg.icon
			use(xlink:href="#right")

		svg.icon
			use(xlink:href="#stop")

		svg.icon
			use(xlink:href="#twitter")

		svg.icon
			use(xlink:href="#close")

		svg.icon
			use(xlink:href="#envelope")

		svg.icon
			use(xlink:href="#facebook")

		svg.icon
			use(xlink:href="#justice")

		svg.icon
			use(xlink:href="#left")

		svg.icon
			use(xlink:href="#logo")

		svg.icon
			use(xlink:href="#map-pin")

		svg.icon
			use(xlink:href="#pause")