$topGrad: #fff, rgba(255, 255, 255, 0.2);

// body {
// 	&:after {
// 		background: url(../img/06.2-destacados-sitios-oficiales.jpg) no-repeat;
// 		position: absolute;
// 		content: "";
// 		width: 100%;
// 		height: 1800px;
// 		top: 0;
// 		opacity: 0.8;
// 		background-position: center top;
// 		background-size: 1380px auto;
// 		pointer-events: none;
// 		cursor: none;
// 	}
// }
.ap {
	&-practica-index {
		// @include above(760px) {
		// 	min-height: 688px;
		// 	max-width: 1100px;
		// 	margin: 0 auto;
		// }
	}
	&-prtc {
		position: relative;
		overflow: hidden;

		// @include above(760px) {
		// 	min-height: calc(80vh - 1em);
		// }

		// @include above(1000px) {
		// 	min-height: 688px
		// }

		.ap-ttt {
			margin-bottom: 0.5em;

			@include above(760px) {
				margin-bottom: 0;
				padding: 0.4em 0;
			}
		}

		&-img {
			background-image: url("../img/areas-practica.jpg");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			height: 20em;
			position: relative;

			@include above(760px) {
				height: 30em;
				margin: 0 auto;
			}

			@include above(1000px) {
				background-image: url("../img/areas-practica-desktop.jpg");
				background-size: 1373px auto;
				background-position: center top;
				height: 432px;
			}

			@include above(1500px) {
				background-image: url("../img/areas-practica-big.jpg");
				background-size: 1980px auto;
				height: 498px;
			}
		}
		&-content {
			margin-top: -64px;
			position: relative;
			z-index: 1;
			padding: 24px 1em 0.5em;

			@include above(1200px) {
				margin-top: -108px;
			}

			&:before {
				background: url("../img/areas-practica-grad.png");
				background-size: contain;
				content: "";
				position: absolute;
				top: 0;
				width: 100%;
				left: 0;
				height: 66px;

				@include above(760px) {
					height: 110px;
				}
			}

			.ap-ttt {
				padding-bottom: 24px;
				position: relative;

				@include above(1200px) {
					padding-top: 9px;
					padding-bottom: 12px;
				}
			}
		}
		&-item {
			margin-bottom: 1.2em;

			.ap-btn {
				max-width: 20em;
				margin: auto;

				@include above(1200px) {
					max-width: 100%;
					padding: 13.5px 0;
					font-size: 1.5em;
					font-weight: 700;
				}
			}

			@include above(760px) {
				margin-bottom: 1.6em;
				width: 22em;
				margin-left: 1.6em;
			}
			@include above(1000px) {
				width: 19.6em;
			}

			&:first-child,
			&:nth-child(4),
			&:nth-child(7) {
				@include above(1200px) {
					margin: 0;
				}
			}

			@include above(1200px) {
				width: 26em;
			}
		}

		&-list {
			@include above(760px) {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				max-width: 50em;
				margin: auto;
				justify-content: center;
				padding: 2em 0;
			}
			@include above(1000px) {
				max-width: 64em;
				font-size: 1.2em;
			}

			@include above(1200px) {
				max-width: 82em;
			}
		}

		&-nav {
			@include above(760px) {
				padding-top: 0.4em;
				padding-right: 1em;
			}

			.ap-btn-link {
				text-transform: uppercase;
				font-weight: 700;
				width: 8em;

				@include above(1200px) {
					font-size: 12px;
					width: 108px;
				}

				.icon {
					@include above(1200px) {
						height: 2.4em;
						width: 1.8em;
					}
				}
			}
		}

		// Description Pages
		&-desc {
			display: flex;
			position: relative;
			padding: 1em;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			position: relative;
			z-index: 2;

			@include above(760px) {
				max-width: 48em;
				margin: 0 auto;
				padding: 4em 1em;
			}

			@include above(1200px) {
				max-width: 869px;
				padding: 54px 1em 110px;
			}
			.ap-prtc {
				&-detail {
					position: relative;
					z-index: 2;
				}
			}
		}
		&-detail {
			position: relative;
			padding-bottom: 34px;

			&:after {
				background-color: $orange;
				content: "";
				width: 6em;
				height: 4px;
				position: absolute;
				bottom: 1em;
			}

			@include above(1200px) {
				max-width: 610px;
			}
			.ap-tttt {
				font-weight: $tt;
				color: $txt;
				font-size: 1.8em;
				font-weight: 800;
				margin-bottom: 0.4em;

				@include above(1200px) {
					font-size: 30.5px;
					line-height: 30px;
					margin-bottom: 36px;
				}
			}

			.ap {
				&-txt {
					padding-bottom: 1em;
					line-height: 1.6em;

					@include above(1200px) {
						font-size: 15px;
						padding-bottom: 24px;
					}

					&--bold {
						font-weight: 700;
					}
				}
			}

			&-list {
				padding-left: 1em;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				width: 100%;

				// @include above(1900px) {
				// 	flex-direction: column;
				// }

				&--wrap {
					flex-wrap: wrap;
					flex-direction: row;

					// @include above(1900px) {
					// 	flex-direction: column;
					// }
				}
			}

			&-item {
				margin-bottom: 0.6em;
				position: relative;
				width: 100%;

				@include above(760px) {
					width: 48%;
					padding: 0 0.7em;
				}

				&:before {
					content: "";
					border: none;
					position: absolute;
					width: 4px;
					height: 4px;
					left: -10px;
					border-radius: 1.2em;
					top: 0;
					margin-top: 8px;
					background-color: #e75400;
				}

				&:last-child {
					margin-bottom: 0;
				}

				@include above(1200px) {
					font-size: 15px;
					padding: 0;
				}
			}
		}
		&-justice {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			bottom: 0;
			left: 4em;
			opacity: 0.4;

			.icon {
				fill: #e9e9e9;
				font-size: 17em;
				opacity: 1;
				width: 2em;
				height: 2em;
				position: absolute;
				left: 50%;
				margin-left: -1.2em;
				padding: 0;

				@include above(760px) {
					font-size: 4em;
					width: 18em;
					height: 18em;
					left: 0;
					bottom: 50%;
					margin-left: -3em;
					margin-bottom: -14em;
				}
			}
		}
	}
}
