.ap {
	&-insights {
		.ap-tabs {
			&-nav {
				background-color: $base;
				padding: 1em 0;
				text-align: center;

				@include above(1000px) {
					padding: 23px 0 17px;
				}
			}

			&-link {
				color: #4da9ff;
				border: 0;
				font-weight: 400;
				font-size: 1.2em;
			}
			&-content {
				padding: 1em
			}

			&-item {
				@include above(1000px) {
					margin: 0 16px;
				}
				&--current {
					.ap-tabs-link {
						font-weight: 700;
						color: #FFF;
					}
				}
			}
		}
	}

	&-tab {
		&-flx {
			display: flex;
			flex-wrap: wrap;


			@include above(1000px) {
				max-width: 80em;
				margin: 0 auto;
				justify-content: center;
			}
		}

		&--first {
			@include above(1000px) {
				padding: 50px 0 142px;
			}


			.ap-tab-flx {
				@include above(1000px) {
					max-width: 750px;
					margin: 0 auto;
					justify-content: space-between;
				}
			}

			.ap-ttt {
				&--link {
					@include above(1000px) {
						margin-top: 6px;
						font-size: 24px;
						max-width: 200px;
					}
				}
			}
		}

		&--secnd {
			@include above(1000px) {
				padding: 50px 0 5px;
			}


			.ap-ttt {
				&--link {
					@include above(1000px) {
						font-size: 21.2px;
						line-height: 25.8px;
						margin-top: 5px;
					}
				}
			}

			.ap-post {
				@include above(1000px) {
					margin-bottom: 40px;
				}
			}

			.ap-tab-flx {
				@include above(1000px) {
					max-width: 750px;
					margin: 0 auto;
					justify-content: space-between;
				}
			}
		}

		&--third {
			@include above(1000px) {
				padding: 50px 0 5px;
			}


			.ap-ttt {
				&--link {
					@include above(1000px) {
						font-size: 21.2px;
						line-height: 25.8px;
						margin-top: 5px;
					}
				}
			}

			.ap-post {
				@include above(1000px) {
					margin-bottom: 40px;
				}
			}

			.ap-tab-flx {
				@include above(1000px) {
					max-width: 750px;
					margin: 0 auto;
					justify-content: space-between;
				}
			}
		}
	}

	// Post
	&-post {
		width: 48%;
		padding: 1em;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			width: 5em;
			height: .1em;
			background-color: $orange;
			bottom: 0;
		}

		@include above(760px) {
			width:32%
		}

		&-info {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		&-img {
			img {
				width: 100%
			}
		}

		.ap {
			&-ttt--link {
				// margin-top: .6em
			}
			&-txt {
				margin-top: .6em;
				color: $txt;

				@include above(1000px) {
					font-size: 15px;				}

				&--date {
					color: #c3c3c3;
				}
				&--link {
					color: $base;
					text-transform: uppercase;
					text-decoration: underline;
				}
			}
		}
	}
}